img{
  height: auto;
  width: 16em;
  image-rendering: pixelated;
}

.chart{
  height:auto;
  width: 40em;
}

figcaption{
  font-size: 85%;
}

p{
  margin-top: 1em;
}

h1, h2{
  color: #aaaa44;
  font-weight: 600;
  font-size: 2em;
}

h2{
  font-size: 1.2em;
}

.container{
  margin-bottom:  10em;
}